/*OI, MUITO PRAZER!!*/

body {
	background-position: center center;
}

.cont-sobre {
	width: 25rem;
}

#qualif {
	width: 25rem;
	font-size: .8em;
	height: auto;
}

#qualif .item-qualif img {
	width: 70px;
}

.previous, .next{
	font-size: 1rem;
	height: auto;
	line-height:  80px !important;

}
/*PORTFOLIO*/

.box-recentes {
	padding: 20px;
	margin-top: 10px;
}

.img-recentes {
	width: 40%;
	margin: 15px;
	height: auto;
}

/*SOBRE*/
#sobre {
	height: 100vh;
}


/*---HABILIDADES---*/
#habilidades {
	height: auto;
}

/*-----------------------------------------PROJETO---------------------------------------*/

#projeto h2 {
	text-align: left;
	text-transform: uppercase;
	color: #00ccff;
	--cor-neon: #00ccff;
	font-size: 2.5em;
	font-family: Trebuchet MS, sans-serif;
	font-weight: bold;
	animation: neon 2s alternate infinite ease-in-out;

}

#projeto h3 {
	font-size: 1.5em;
	margin-top: 5px;
	margin-bottom: 5px;
}

#cont-projeto {
	width: 90%;
	height: 90%;
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#projeto-img {
	max-width: 50%;
	height: auto;
	position: relative;
}

#dados-projeto {
	width: 45%;
}

#dados-projeto span {
	font-weight: bold;
}