/*CENTRO*/

/*OI, MUITO PRAZER!!*/


/*TRABALHOS RECENTES*/

.box-recentes{
	padding: 20px;
	margin-top: 10px;
}

.img-recentes{
	width: 40%;
	margin: 15px;
	height: auto;
}


/*SOBRE*/
.sobre{
	height: 100%;
}

.sobre h2{
	font-size: 1.5em;
}


/*---SERVIÇOS---*/
.servicos{
	height: auto;
}

/*----------CONTATO----------*/

.contato{
	height: 100%;
}

.contato table td #mensagem{
	height: 22em;
}

/*-----------------------------------------PROJETO---------------------------------------*/

.projeto {
	height: 65vh;
}

.projeto h2{
	    text-align: left;
    text-transform: uppercase;
    color: #00ccff;
    --cor-neon: #00ccff;
    font-size: 2.5em;
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
	animation: neon 2s alternate infinite ease-in-out;

}

.projeto h3{
	font-size: 1.5em;
	margin-top: 5px;
	margin-bottom: 5px;
}

.cont-projeto{
	width: 90%;
	height: 90%;
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.projeto-img{
    max-width: 50%;
    height: auto;
    position: relative;
}

#descricao-projeto{
	float: right;
	width: 45%;
}

#dados-projeto{
	width: 45%;
	clear: both;
}

#dados-projeto span{
	font-weight: bold;
}
