/*---MENU---*/	
	.menu {
	width: 100%; 
	height: auto;
	margin: 0 auto 0 auto;
	position: fixed;
	background-color: #000;
	top: 0;
	left: 0;
	display: none;
	overflow-y: auto;
}

	.menu li{
		padding: 4%;
		display: block;
		font-size: 10px;
		text-align: center; 
		float: none;
	}

	.menu li a{
		font-size: 2em;
		color: #fff;
		font-weight: bold;
	}
	.menu li a:hover{
		border: 1px solid lightgrey;
		padding: 3%;
	}

	.btn-menu{
		display: inline;
		width: 56px;
		height:56px;
		float: right;
		text-align: center;
		color: white;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.0);
		border-radius: 50px;
	}

	.btn-close{
		font-size: 2em;
		color: white;
		float: left;
		cursor: pointer;
		margin: 5%;
		padding: 10px;
		display: block;
		position: absolute;
	}

	.btn-close:hover{
		color: grey;
		font-weight: bolder;
	}

/*CENTRO*/
.titulo-subtitulo h1{
	font-size: 1.5em;
}
.titulo-subtitulo h2 {
	font-size: 0.8em;
}

/*SOBRE*/
.sobre{
	height: 100%;
}

.sobre #qualif .item-qualif{
 	width: 300px;
 	height: 100px;	
 	margin-bottom: 0;
}

.sobre #qualif .item-qualif img{
	width: 90px; 
	height: 90%;
}

.servicos{
	height: 100%;
	padding: 20px;
}

.cont_serv{
	width: 400px;	
	padding: 10px;
}

.cont_serv p{
	text-align: justify;
	font-size: 0.9em;
}

/*----------CONTATO----------*/

.contato{
	height: 100%;
}

.contato table td #nome{
	width: 18em;
}

.contato table td #email{
	width: 18em;
}

.contato table td #mensagem{
	resize: none;
	width: 18em;
	height: 22em;
}
