/*---LOGO---*/	
.logo a img {
    margin-top: 10px;

}

/*---MENU---*/	
	#btn-mobile{
  display: flex;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: .5rem;
}
  
  #hamburger{
    border-top: 2px solid;
    width: 20px;
    color: white;
  }
  
  #hamburger::after, #hamburger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentcolor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }
  
  #menu.active #hamburger{
    border-top-color: transparent;
  }
  
  #menu.active #hamburger::before{
    transform: rotate(135deg);
  }
  
  #menu.active #hamburger::after{
    transform: rotate(-135deg);
    top: -7px;
  }

  #menu-botoes{
    display:block;
    position: absolute;
    width: 100%;
    height: 0;
    transition: .6s;
    top: 70px;
    right: 0;
    background-color: rgba(0, 0, 0, 80%);
    z-index: 1000;
    visibility: hidden;
    overflow: hidden;
    overflow-y: hidden;
  }

  #menu.active #menu-botoes{
    height: calc(100vh - 70px);
    visibility: visible;
  }
  
  #menu-botoes a{
    padding: 1.5em 0;
    margin: 0 1em;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
  }

/*CENTRO*/
.titulo-subtitulo h1{
  font-size: 3em;
}
.titulo-subtitulo h2 {
	font-size: 1.5em;
}

/*SOBRE*/
.sobre{
	height: 100%;
}

.sobre #qualif .item-qualif{
 	width: 300px;
 	height: 100px;	
 	margin-bottom: 0;
}

.sobre #qualif .item-qualif img{
	width: 90px; 
	height: 90%;
}

.servicos{
	height: 100%;
}

.cont_serv{
	width: 400px;	
	padding: 10px;
}

.cont_serv p{
	text-align: justify;
	font-size: 0.9em;
}

/*----------CONTATO----------*/

.contato{
	height: 100%;
}

.contato table td #nome{
	width: 18em;
}

.contato table td #email{
	width: 18em;
}

.contato table td #mensagem{
	resize: none;
	width: 18em;
	height: 22em;
}

/*-----------------------------------------PROJETO---------------------------------------*/

.projeto img{
  max-width: 50%; 
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

#descricao-projeto{
  float: none;
  width: 45%;
}

#dados-projeto{
  float: none;
  clear: both;
  padding: 20px 0 20px 0;
  width: 45%;
}

#descricao-projeto {
    width: 100%;
}
