/*CABEÇALHO*/
#cabecalho {
	padding: 0px 5%;
}

/*---CENTRO---*/
	#principal {
	background: url(../img/fundo-code.jpg);
	background-size: 1000px;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	width: 100%;
	pointer-events: none;
	clear: both;		
	background-color: black;
}

	#principal video {
	display: none;

}

/*OI, MUITO PRAZER!!*/
#sobre h2{
	font-size: 1.8em;
}
.cont-sobre{
	width: auto;
	margin: 10px auto;
	text-align: center;
}

[data-animar="left"]{
	transform: translate3d(50px, 0, 0);
}

[data-animar="right"]{
	transform: translate3d(-50px, 0, 0);
}

#qualif{
	font-size: .9em;
}

.item-qualif{
	min-width: 23em;
}

#qualif .item-qualif img {
	min-width: 50px;
	margin: 0 3px 0 3px;
}

/*---HABILIDADES---*/

#habilidades h2{
	font-size: 1.8em;
}

#habilidades{
	height: auto;
}

.cont_hab{
	width: 300px;	
}

.cont_hab i{
	text-align: center;
	float: none;
	font-size: 100px;
}

/*----------PORTFOLIO----------*/

#portfolio h2{
	font-size: 1.8em;
}

.cont-portfolio{
	width: 100%;
	margin: 1.5%;
	text-align: justify;
  }
  
  #contato form{
	  width: 80%;
  
  }


/*CONTATO*/
#contato h2{
	font-size: 1.8em;
}

#contato form{
	width: 100%;
	padding: 0;
}