*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: currentColor;
}

a:visited{
    color: currentColor;
}

body{
    background-image: url("../../img/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
}

header{
    margin: 0 auto;
    text-align: center;
}

#banner{
    margin: 20px auto;
}

#banner img{
    width: 85%;
}

h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px black;
}

#formulario{
    margin: 10px auto;
    width: fit-content;
    background-color: black;
    border-radius: 10px;
    padding: 30px;
}

#formulario input{
    width: 350px;
    height: 30px
}

#formulario button{
    width: 100%;
    margin: 10px 0;
    height: 50px;
    border-radius: 10px;
    background-color: gold;
    color: black;
    font-size: 1.5em;
}

table{
    width: 60%;    
    margin: 10px auto;

}


table, th, tr{
    border: 1px solid white;
    color: gold;
    text-shadow: 1px 1px black;
    text-align: center;
    border-collapse: collapse;
    font-size: 1em;
}

a:hover{
    color: darkgoldenrod;
}

table td{
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-shadow: 1px 1px black;
}

#formulario-criar{
    margin: 20px auto;
    width: 50%;
    text-align: center;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
}

#formulario-criar input{
    width: 70%;
    font-size: 1em;
}

#formulario-criar textarea{
    width: 70%;
    height: 300px;
}

#formulario-criar button{
    width: 40%;
    background-color: gold;
    border-radius: 10px;
    height: 50px;
    font-size: 1.2em;
    text-transform: uppercase;
}

#formulario-criar select{
    width: 100px;
    text-align: center;
}