<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Área Administrativa - DOUGLAS REIS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/{{ style }}" />
</head>

<body>
        {{{ body }}}
    
</body>

</html>