.contato{
    height: auto;
    color: #fff;
}

.contato h1{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Teko', 'sans-serif';
    font-size: 5em;
    text-align: center;
}

.contato article{
    display: flex;
    justify-content: space-around;
    font-family: 'Teko', 'sans-serif';
}

.contato article form{
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

.contato article form input{
    font-size: .8em;
    outline: none;
    margin: .5em 0;
}

.contato article form textarea{
    height: 20em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .6em;
    outline: none;
}

.contato article form #enviar{
    width: 8em;
    height: 2em;
    margin: 1em 0;
    text-transform: uppercase;
    font-family: 'Teko', 'sans-serif';
    color: #fff;
    border: none;
    background-color: #0066ff;
    cursor: pointer;
}

.contato article form #enviar:hover {
    background-color: #297fff;
}

.contato article form #enviar:active {
    background-color: #004cbe;
}

.contato article div{
    font-size: 2.5em;
    align-self: center;
    width: 10em;
}

.contato article div p{
    margin: 1em 0;
}