.habilidades{
    min-height: 100vh;
}

.habilidades h1{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Teko', 'sans-serif';
    font-size: 5em;
    text-align: center;
}

.habilidades article{
    width: 80%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 1em;
    grid-template-columns: repeat(3, 25%);
}

.habilidades article div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0047FF;
    font-size: 7em;
    width: 1.5em;
    height: 2em;
    border: 2px solid #0066FF;
    text-align: center;
    transition: all .5s;
}

.habilidades article div svg{
    margin: 0 auto;
}
.habilidades article div h3{
    color: #fff;
    font-size: .3em;
    text-transform: uppercase;
    font-family: "Teko", "sans-serif";
}

.habilidades article div:hover{
    color: #fff;
    border: 2px solid #fff;
}

/* Tablets Grandes e Laptops */
@media (max-width: 1199px){}

/* Tablets Pequenos */
@media (max-width: 991px){

    .habilidades h1{
        font-size: 3em;
    }

    .habilidades article{
        display: grid;
        justify-content: space-between;
    }
}

/* Dispositivos Pequenos */
@media (max-width: 767px){

    .habilidades article{
        width: 100%;
        display: grid;
        justify-content: space-around;
        gap: 1em;
        grid-template-columns: repeat(2, auto);
    }
}

/* Mobile */
@media (max-width: 480px){

}