.main{
    background-color: #000;    
    position: relative;
    min-height: calc(100vh - 3.5em);
}

video {
    width: 100%;
    height: calc(100vh - 3.5em);
    object-fit: cover;
    filter: brightness(30%);
}

.apresentacao{
    width: 80%;
    height: 100%;
    color: #fff;
    top: 0;
    left: 9%;
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: space-around;
    overflow-y: hidden;
}

.texto{
    width: 60%;
    align-self: center;
    font-family: 'Teko', 'sans-serif';
}

.texto h1{
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
}

.texto h2{
    font-family: 'Righteous', 'sans-serif';
    font-size: 5em;
}

.texto h3{
    text-transform: uppercase;
    font-size: 6em;
}

.texto h4{
    font-size: 2em;
}

.apresentacao .foto{
    background-image: url('./../../../img/douglas_avatar3.png');
    background-size: 15em;
    background-repeat: no-repeat;
    background-position: center 1em;
    width: 20em;
    height: 20em;
    display: flex;
    padding: 1em;
    justify-content: center;
    background-color: #1D3572;
    border-radius: 10em;    
    align-self: center;
}

/*
.apresentacao .foto img{
    padding: 1em 0;
    width: ;
}*/