.main{
    background-color: #000;    
    position: relative;
    min-height: calc(100vh - 3.5em);
}

video {
    width: 100%;
    height: calc(100vh - 3.5em);
    object-fit: cover;
    filter: brightness(30%);
}

.apresentacao{
    width: 85%;
    height: 100%;
    color: #fff;
    top: 0;
    left: 8%;
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
}

.texto{
    width: 70%;
    align-self: center;
    font-family: 'Teko', 'sans-serif';
}

.texto h1{
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
}

.texto h2{
    font-family: 'Righteous', 'sans-serif';
    font-size: 5em;
}

.texto h3{
    text-transform: uppercase;
    font-size: 5.5em;
}

.texto h3::after{
    content: '|';
    color: #0038FF;
    margin-left: 2px;
    animation: blinker .7s infinite;
}

@keyframes blinker {

    0%, 100%{
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
    
}

.texto h4{
    font-size: 2em;
}

.apresentacao .foto{
    background-image: url('./../../../img/douglas_avatar3.png');
    background-size: 15em;
    background-repeat: no-repeat;
    background-position: center 1em;
    width: 20em;
    height: 20em;
    display: flex;
    padding: 1em;
    justify-content: center;
    background-color: #1D3572;
    border-radius: 10em;    
    align-self: center;
}

/*
.apresentacao .foto img{
    padding: 1em 0;
    width: ;
}*/



/* Tablets Grandes e Laptops */
@media (max-width: 1199px){
    
.texto{
    width: 65%;
}

.texto h1{
    font-size: 2.5em;
}

.texto h2{
    font-size: 4em;
}

.texto h3{
    font-size: 4em;
    display: block;
}

.texto h4{
    font-size: 1.5em;
}

.apresentacao .foto{
    width: 17em;
    height: 17em;
    background-size: 12em;
}

}
    
/* Tablets Pequenos */
@media (max-width: 991px){

    .texto{
        width: 60%;
    }

    .texto h1{
        font-size: 1.5em;
    }
    
    .texto h2{
        font-size: 3em;
    }
    
    .texto h3{
        font-size: 3em;
    }
    
    .texto h4{
        font-size: 1.5em;
    }

    .apresentacao .foto{
        width: 15em;
        height: 15em;
        background-size: 10em;
    }

}

/* Dispositivos Pequenos */
@media (max-width: 767px){

    .main{
        background-image: url('./../../../img/fundo-code.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        height: auto;
    }

    video {
        display: none;
    }


    .apresentacao {
        display: flex;
        flex-wrap:wrap-reverse;
        justify-content: center;
        height: auto;
    }

    .texto{
        width: 100%;
        text-align: center;
    }

    .apresentacao .foto{
        background-size: 10em;
        width: 15em;
        height: 15em;
        margin: 1em 0;
    }
}

/* Mobile */
@media (max-width: 480px){

    .texto{
        min-width: 100%;
    }

    .texto h1{
        font-size: 1.5em;
    }
    
    .texto h2{
        font-size: 2.5em;
    }
    
    .texto h3{
        font-size: 2.5em;
    }
    
    .texto h4{
        font-size: 1.2em;
    }
}

