.portfolio{
    height: 100vh;
}

.portfolio h1{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Teko', 'sans-serif';
    font-size: 5em;
    text-align: center;
}

.portfolio article{
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 5em 1em;
}


.portfolio article img{
    width: 20em;
    height: auto;
    margin: 0;
    border: 2px solid #0066ff00;
    transition: all .5s;
}

.portfolio article img:hover{
    border: 2px solid #0066ff;
}