footer{
    padding: 1em 0;
    height: fit-content;
    background-color: #000;
}

footer section{
    display: flex;
    justify-content: space-evenly;
}

footer section div {
    width: 18em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer section div ul{
    display: flex;
    flex-direction: column;
    color: rgb(207, 207, 207);
    font-family: 'Roboto', 'sans-serif';
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    font-weight: bold;
}

footer section div ul li{
    margin: .5em;
    cursor: pointer;
    transition: all .5s;
}

footer section div ul li:hover{
    color: #fff;
}

footer section img{
    width: 16em;
    margin: 0 auto;
    filter: saturate(0.8) brightness(120.5);
}

footer section .socialMedia{
    width: 5em;
    margin: 0.2em auto;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer section .socialMedia a{
    color: rgb(207, 207, 207);
    transition: all .5s;
}

footer section .socialMedia a:hover{
    color: #fff;
}

footer section h3{
    color: #fff;
    margin: 2em 0;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    text-transform: uppercase;
}

footer section p{
    color: #fff;
    margin: .2em 0;
    font-family: 'Roboto', 'sans-serif';
}

.copyright p{
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Tablets Grandes e Laptops */
@media (max-width: 1199px){}

/* Tablets Pequenos */
@media (max-width: 991px){

    footer section{
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
    }

    footer section div{
        margin: 1em;
    }

    footer section h3{
        margin: 1em;
    }

    .copyright{
        margin: 1em;
    }

}

/* Dispositivos Pequenos */
@media (max-width: 767px){}

/* Mobile */
@media (max-width: 480px){}