.sobre{
    min-height: 100vh;
}

.sobre h1{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Teko', 'sans-serif';
    font-size: 5em;
    text-align: center;
}

.sobre article{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sobre .fotoReal{
    background-image: url('./../../../img/douglas_face.png'), linear-gradient(to bottom, #101436 , #008DDC, #101436);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    width: 25em;
    height: 30em;
}


.sobre .textoNome{
    width: 35em;
    align-self: center;
}

.sobre .textoNome p {
    color: #fff;
    font-family: 'Teko', 'sans-serif';
    font-size: 1.2em
}

.sobre .textoNome .qualificacao{
    margin-top: 2em;
}

.sobre .textoNome .qualificacao h2{
    font-family: 'Teko', 'sans-serif';
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

/*Mini-Slide*/

#wrapper-qualif{
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

#wrapper-qualif::-webkit-scrollbar {
	display: none;
  }

.box_qualif{
	display: flex;
	flex-flow: row nowrap;
    color: #fff;
    font-family: 'Teko';
}

.previous{
	font-size: 2rem;
	line-height:  100px !important;
	cursor: pointer;
	float: left;
	z-index: 1;
	color: #9cb9c0;
}

.next{
	font-size: 2rem;
	line-height:  100px !important;
	cursor: pointer;
	float: right;
	right: 0;
	z-index: 1;
	color: #9cb9c0;
}

.previous:hover, .next:hover{
	color: #fff;
	transition: all 0.2s ease-in-out ;
}

.item_qualif{
 	min-width: 26em;
	margin: 0 0 0 2em;
}

.item_qualif img{
	display: inline;
	float: left;
	width: 6em; 
	height: auto;
	filter: drop-shadow(0 0 1px white);
}

#qualif h3{
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	display: block;
	padding: 1rem;
}

#qualif h4 {
	font-size: 1em;
	font-weight: bold;
	padding: 1.5px;
}

#qualif h5 {
	font-style: italic;
	padding: 3px;
}