.sobre{
    min-height: 100vh;
	
}

.sobre h1{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Teko', 'sans-serif';
    font-size: 5em;
    text-align: center;
}

.sobre article{
    width: 82%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sobre .fotoReal{
    background-image: url('./../../../img/douglas_face.png'), linear-gradient(to bottom, #101436 , #008DDC, #101436);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    width: 25em;
    height: 30em;
}


.sobre .textoNome{
    width: 35em;
    align-self: center;
}

.sobre .textoNome p {
    color: #fff;
    font-family: 'Teko', 'sans-serif';
    font-size: 1.2em
}

.sobre .textoNome .qualificacao{
    margin-top: 2em;
}

.sobre .textoNome .qualificacao h2{
    font-family: 'Teko', 'sans-serif';
    color: #fff;
    text-transform: uppercase;
    text-align: center;
	font-size: 1.7em;
	margin: .5em;
}

/*Mini-Slide*/

.item_qualif{
 	min-width: 20em;
	margin: 0 0 0 3em;
	color: #fff;
	font-family: 'Teko';
}

.item_qualif img{
	display: inline;
	float: left;
	width: 6em; 
	height: auto;
	filter: drop-shadow(0 0 1px white);
}

.item_qualif h3 {
	font-size: 1.4em;
	font-weight: bold;
	padding: 1.5px;
}

.item_qualif h4 {
	font-size: 1.2em;
	font-style: italic;
	padding: 3px;
}

/* Tablets Grandes e Laptops */
@media (max-width: 1199px){
	
	.sobre .fotoReal{
		width: 20em;
		height: 25em;
		margin: 0 2em;
	}

	.sobre .textoNome{
		width: 50%;
		align-self: center;
	}

}

/* Tablets Pequenos */
@media (max-width: 991px){

	.sobre h1{
		font-size: 3em;
	}

	.sobre article{
		width: 95%
	}

	.sobre .fotoReal{
		width: 15em;
		height: 20em;
		margin: 0 1em;
	}

	.sobre .textoNome{
		width: 60%;
		align-self: center;
	}
	
}

/* Dispositivos Pequenos */
@media (max-width: 767px){
	.sobre{
		padding: 1em 0;
	}

	.sobre .textoNome{
		width: 100%;
		align-self: center;
	}

	.sobre .fotoReal{
		margin: 1em;
	}


	.sobre article{
		width: 90%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	
/*Mini-Slide*/

.item_qualif{
 	min-width: 20em;
	margin: 0 0 0 3em;
	color: #fff;
	font-family: 'Teko';
}

.item_qualif img{
	display: inline;
	float: left;
	width: 5em; 
	height: auto;
	filter: drop-shadow(0 0 1px white);
}

.item_qualif h3 {
	font-size: 1.3em;
	font-weight: bold;
	padding: 1.5px;
}

.item_qualif h4 {
	font-size: 1em;
	font-style: italic;
	padding: 3px;
}

}

/* Mobile */
@media (max-width: 480px){}