<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Cadastrar Projeto - Área Administrativa - DOUGLAS REIS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/cadastrar_editar.css" />
</head>

<body>
    <header>
        <div>
            <img src="../public/img/logo.png" alt="">
            <h1>Área Administrativa</h1>
        </div>

        <div>
            <a href="">
                <h1 class="toBlog">Blog &rarr;</h1>
            </a>
        </div>
    </header>

    <button id="btnNav" class=""><span class="btn-hamburger"></span></button>
    <nav>
        <h3>Menu</h3>
        <hr><br>
        <h3>&larr; Home</h3>
        <ul>
            <li>Criar Projeto</li>
            <li>Gerenciar Projetos</li>
            <li>Gerenciar Categorias</li>
            <li>Gerenciar Dados ADM</li>
            <li>Sair</li>
        </ul>
        <!--
            Criar Projeto
Gerenciar Projetos
Categorias
Gerenciar Categorias
Dados ADM
Editar Dados
        -->
    </nav>

    <main>
        <div class="container">

            <h1>Criar Novo Projeto</h1>

            <div class="msg_erro">
                <h1>Mensagem de Erro</h1>
            </div>

            <form action="index.html" method="post">
                <label for="titulo">Título:</label></br>
                <input type="text" id="titulo" name="titulo">
                </br>
                <ul class="imagem">
                    <li>
                        <label for="titulo">Imagem:</label></br>
                        <input type="file" id="imagem" name="imagem">
                    </li>
                    <li>
                        <img src="https://t4.ftcdn.net/jpg/03/16/68/69/360_F_316686992_OvCTP1wfazJhBeMrBBDUGooufSmj2O8G.jpg" alt="">
                    </li>
                </ul>
                </br>
                <label for="texto">Texto:</label></br>
                <textarea id="texto" name="texto"></textarea>
                </br>
                <label for="titulo">Cliente:</label></br>
                <input type="text" id="titulo" name="titulo">
                </br>
                <label for="titulo">Data:</label></br>
                <input type="date" id="data" name="data">
                </br>
                <label for="titulo">Tags:</label></br>
                <input type="text" id="titulo" name="titulo">
                </br>
                <label for="titulo">URL:</label></br>
                <input type="text" id="titulo" name="titulo">
                </br>

                <button type="submit" id="concluir">Concluir</button>

            </form>

        </div>
    </main>

    <section class="clearfix"></section>

    <footer>

        <h2>Frase Motivacional</h2>

    </footer>
</body>

</html>