<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Gerenciar Projetos - Área Administrativa - DOUGLAS REIS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/gerenciar_projetos.css" />
</head>

<body>
    <header>
        <div>
            <img src="../public/img/logo.png" alt="">
            <h1>Área Administrativa</h1>
        </div>

        <div>
            <a href=""><h1 class="toBlog">Blog &rarr;</h1></a>
        </div>
    </header>

    <button id="btnNav" class=""><span class="btn-hamburger"></span></button>
    <nav>
        <h3>Menu</h3>
        <hr><br>
        <h3>&larr; Home</h3>
        <ul>
            <li>Criar Projeto</li>
            <li>Gerenciar Projetos</li>
            <li>Gerenciar Categorias</li>
            <li>Gerenciar Dados ADM</li>
            <li>Sair</li>
        </ul>
        <!--
            Criar Projeto
Gerenciar Projetos
Categorias
Gerenciar Categorias
Dados ADM
Editar Dados
        -->
    </nav>

    <main>
        <div class="container">
            
            <h1>Gerenciar Projetos</h1>

            <div class="msg_erro">
                <h1>Mensagem de Erro</h1>
            </div>

            
        <table id="lista-posts">
            
            <tr>
                <th>id</th>
                <th>nome do projeto</th>
                <th>cliente</th>
                <th>data</th>
                <th>url</th>
                <th colspan="2">ação</th>
            </tr>
            <tr>
                <td>1</td>
                <td>dfsfsdfdfsdfasdfsdfsdfsdf</td>
                
                <td>sfsdfsdfsdffdgfdg</td>
                <td>00/00/0000</td>
                <td>fafsdfsfsdffsaf.com.br</td>
                <td>editar</td>
                <td>excluir</td>
            </tr>
            <tr>
                <td>2</td>
                <td>dfsfsdfdfsdfasdfsdfsdfsdf</td>
                
                <td>sfsdfsdfsdffdgfdg</td>
                <td>00/00/0000</td>
                <td>fafsdfsfsdffsaf.com.br</td>
                <td>editar</td>
                <td>excluir</td>
            </tr>
        </table>

        </div>
    </main>

    <section class="clearfix"></section>

    <footer>

        <h2>Frase Motivacional</h2>

    </footer>
</body>

</html>