<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Login - Área Administrativa - DOUGLAS REIS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Douglas Reis">
    <link rel="stylesheet" type="text/css" href="../public/css/style_login.css" />
</head>

<body>


    <main>
        <div class="container">
            <aside id="banner">
                <div>
                    <img src="../public/img/logo.png" alt="">
                    <h1>Área Administrativa</h1>
                </div>
            </aside>

            <aside id="login">
                <form action="index.html" method="post">
                    <label for="login">Login:</label></br>
                    <input type="text" id="inLogin" name="login">
                    </br>
                    <label for="senha">Senha:</label></br>
                    <input type="password" id="inSenha" name="senha">
                    </br>
                    <div class="login_erro">Mensagem de Erro</div>


                    <button id="entrar">Entrar</button>

                </form>
            </aside>
        </div>

    </main>

</body>

</html>