    <main>
        <div class="container">
            
            <h1>Criar Novo Projeto</h1>

            <div class="msg_erro">
                <h1>Mensagem de Erro</h1>
            </div>

            <form action="index.html" method="post">
                <label for="titulo">Título:</label></br>
                <input type="text" id="titulo" name="titulo">
                </br>
                <label for="titulo">Imagem:</label></br>
                <input type="file" id="imagem" name="imagem">
                </br>
                <label for="texto">Texto:</label></br>
                <textarea id="texto" name="texto"></textarea>
                </br>
                <label for="titulo">Cliente:</label></br>
                <input type="text" id="titulo" name="titulo">
                </br>
                <label for="titulo">Data:</label></br>
                <input type="date" id="data" name="data">
                </br>
                <label for="titulo">Tags:</label></br>
                <input type="text" id="titulo" name="titulo">
                </br>
                <label for="titulo">URL:</label></br>
                <input type="text" id="titulo" name="titulo">
                </br>

                <button type="submit" id="concluir">Concluir</button>

            </form>

        </div>
    </main>