    <main>
        <div class="container">
            
            <h1>Criar Novo Projeto</h1>

            <div class="msg_erro">
                <h1>Mensagem de Erro</h1>
            </div>

            <form action="/cadastrar-projeto/cadastrar" method="post">
                <label for="titulo">Título:</label></br>
                <input type="text" id="titulo" name="titulo">
                </br>
                <label for="imagen">Imagem:</label></br>
                <input type="file" id="imagem" name="imagem">
                </br>
                <label for="texto">Descrição:</label></br>
                <textarea id="texto" name="descricao"></textarea>
                </br>
                <label for="cliente">Cliente:</label></br>
                <input type="text" id="cliente" name="cliente">
                </br>
                <label for="data">Data:</label></br>
                <input type="date" id="data" name="data">
                </br>
                <label for="tags">Tags:</label></br>
                <input type="text" id="tags" name="tags">
                </br>
                <label for="url">URL:</label></br>
                <input type="text" id="url" name="url">
                </br>

                <button type="submit" id="concluir">Concluir</button>

            </form>

        </div>
    </main>