    <main>
        <div class="container">

            <h1>Gerenciar Dados</h1>


            <form action="/gerenciar-dados/changePassword" method="post">
                <label for="nome">Nome:</label></br>
                <input type="text" id="nome" name="nome" value="{{user.nome}}">
                </br>
                <label for="login">Login:</label></br>
                <input type="text" id="login"name="login" value="{{user.usuario}}" disabled>
                </br>
                <label for="senha">Senha:</label></br>
                <input type="password" id="senha" name="senha" value="{{ senha }}">
                </br>

                <button id="salvar">Salvar</button>
                <input type="hidden" name="env" value="alt">
            </form>

        </div>
    </main>