    <main>
        <div class="container">

            <h1>Gerenciar Categorias</h1>


            <form action="/gerenciar-categorias/cadastrar" method="post">
                <input type="text" name="categoria" required class="inCategoria">
                <input type="submit" id="cadastrar" value="Cadastrar" class="cat-salvar">
                <input type="hidden" name="env" value="cat">
            </form>

            <div class="categorias">
                <h2>Categorias</h2>
                <table>

                    {{#each categDados}}
                    <tr>
                        <td>{{this.categoria}}</td>
                        <td>
                            <form action="/gerenciar-categorias/excluir/{{this.id}}" method="post">
                                <input type="submit" class="btnDeletar" value="Deletar">
                            </form>
                        </td>
                    </tr>
                    {{/each}}

                </table>

            </div>

        </div>
    </main>