        <main>

        <div class="container">

            <h1>Bem vindo, Douglas!</h1>
            <hr>

            <h2>Você tem {{ numTotal }} projetos cadastrados!</h2>
                <input type="hidden" name="numSites" id="numSites" value="{{numSites}}">
                <input type="hidden" name="numAppWeb" id="numAppWeb" value="{{numAppWeb}}">
                <input type="hidden" name="numAppMobile" id="numAppMobile" value="{{numAppMobile}}">
            <section class="grafico">
            </section>
                  
        </div>
    </main>