        <main>

        <div class="container">

            <h1>Bem vindo, Douglas!</h1>
            <hr>

            <h2>Você tem X projetos cadastrados!</h2>

            <section class="grafico">
            </section>
                  
        </div>
    </main>